@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
/* use # for id, . for class */

  body {
    font-family: "Spartan", sans-serif;
    font-size: 12pt;
    color:#b8bfe0;
    background-color: #212529;

    text-align: left;

    display:flex;
    min-height: 100vh;
    flex-direction:column;

    /* height:100%; */
  }

  #graphs {
    margin-bottom: 200px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }

  /* makes it so that a new line is registered when added in the paragraph */
  /* p {
    white-space: pre-line
  } */

  .box {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }


  canvas {
    padding: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:rgba(50, 50, 93, 0.60);
    opacity:1;
    font-family: "Spartan", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
  }

  figure {
    flex-basis: 30%;
    margin-right: 0px;
    margin-left: 0px;
  }

  #myText {
    color: #212529;
  }
/* 
  #button {
    color: #212529;
  } */

  #headingSearch {
    display:flex;
    flex-direction:row;
    align-items:center;
  }

  #regions{
    color: #212529;
  }
  header {
    margin-left: 50px;
    font-size: 25px;
  }
/* 
  #SearchDesc{
    margin-top: 50px;
    margin-left:50px;
    margin-bottom: 20px;
  } */

  container{
    margin-left: 25;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    width: 100%;
    height: 100vh;
    /* padding: 15px; */
  }

  main {
    flex:1;
    margin-left: 50px;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  footer{
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: 50px;
  }

  /* unvisited link */
  a:link {
    color: #f3a4b5;
  }
  
  /* visited link */
  a:visited {
    color: #adb5bd;
  }

  /* mouse over link */
  a:hover {
    color: #00f2c3;
  }

  /* selected link */
  a:active {
    color: #8965e0;
  }

  #loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden {
    display:none;
  }

  /* stolen code */
  /* @charset "utf-8"; */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 16px;
  }
  body {
    /* background-color: #cff3f3; */
    /* font-family: futura-pt, sans-serif; */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  /* Search bar css */
  .search-box {
    display: flex;
    width: 500px;
    margin-left: 100px;
  }
  .search-form-input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 75%;
    height: 46px;
    padding: 5px 20px 5px 40px;
    border: none;
    border-radius: 23px 0 0 23px;
    background-image: url(ic_search.svg);
    background-position: 15px center;
    background-size: 18px;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #3d3935;
    font-size: 1.25rem;
    outline: none;
  }
  .dropdown {
    position: relative;
    width: 25%;
    height: 46px;
  }
  .dropdown::before {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 999;
    width: 1px;
    height: 36px;
    background-color: #ccc;
    content: '';
  }
  .dropdown-button {
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 0 23px 23px 0;
    background-color: #fff;
    color: transparent;
    outline: none;
    cursor: pointer;
  }
  .dropdown-button::-webkit-details-marker {
    display:none;
  }
  .dropdown-button .selected-item {
    color: #3d3935;
    font-size: 1rem;
  }
  .dropdown[open] .dropdown-button::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
  .dropdown-button:after {
    position: absolute;
    top: 17px;
    right: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    content: '';
  }
  .dropdown-button:hover:after {
    border-right: 2px solid #22A7B4;
    border-bottom: 2px solid #22A7B4;
  }
  .dropdown-menu {
    position: absolute;
    top: 55px;
    right: 5px;
    width: 160px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    background-color: #fff;
  }
  .dropdown-menu-header {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
  }
  .dropdown-menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  .dropdown-menu-item {
    width: 100%;
    padding: 5px;
    cursor: pointer;
  }
  .dropdown-menu-item input:checked + span,
  .dropdown-menu-item:hover {
    color: #22a7b4;
  }
  .dropdown-menu-item input {
    display: none;
  }
  @media screen and (max-width: 480px) {
    #container {
      height: 400px;
      align-items: flex-start;
    }
    .box {
      width: 280px;
    }
    .search-box {
      display: flex;
      flex-direction: column;
    }
    .search-form-input {
      width: 100%;
      border-radius: 23px;
    }
    .dropdown {
      width: 100%;
      margin-top: 10px;
    }
    .dropdown::before {
      display: none;
    }
    .dropdown-button {
      border-radius: 23px;
    }
    .dropdown-menu {
      left: 5px;
      width: calc(100% - 10px);
    }
  }
  /* End search bar css */

  

  /**===== bars6 =====*/
#bars6 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}

#bars6 span {
  position: absolute;
  display: block;
  bottom: 10px;
  width: 9px;
  height: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-animation: bars6 1.5s  infinite ease-in-out;
          animation: bars6 1.5s  infinite ease-in-out;
}

#bars6 span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#bars6 span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#bars6 span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#bars6 span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@keyframes bars6 {
  0% {
    height: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    background: #11cdef;
  }
  50% {
    height: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    height: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}
@-webkit-keyframes bars6 {
  0% {
    height: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    background: #0057e7;
  }
  50% {
    height: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    height: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}
/** END of bars6 */

#errorDiv {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
