@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
/* use # for id, . for class */

  body, button, select, input {
    font-family: "Spartan", sans-serif;
    text-align: center;
    font-size: 12pt;
    color:#b8bfe0;
    text-align: left;

    }

  body {
    display:flex;
    min-height: 100vh;
    flex-direction:column;

    height:100%;
    background-color: #212529;
  }
  
  #textbox{
    margin-left:50px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
  }

  #myText {
    color: black;
  }

  #button {
    color: black;
  }

  header {
    margin: 50px;
  }

  canvas {
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #32325d;
  }

  figure {
    flex-basis: 30%;
    margin-right: 0px;
    margin-left: 0px;
  }

  #SearchDesc{
    margin-top: 50px;
    margin-left:50px;
    margin-bottom: 20px;
  }

  form{
    margin-left: 50px;
  }
  main {
    flex:1;

    margin-left: 50px;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

  }

  footer{
    margin-left: 50px;
    margin-top: auto;
  }

