@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
/* use # for id, . for class */

 body, button, select, input {
    font-family: "Spartan", sans-serif;
    text-align: center;
    font-size: 12pt;
  }
  
  main {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }

  #chart {
    width: 1000px;
    height: 1000px;
  }